name: Process Patterns From Queue
## This workflow pops a pattern idea from the queue and processes it in the product pipeline

on:
  schedule:
    - cron: "0 17 * * 1-5" # Runs at noon EST (5 PM UTC) on weekdays
  workflow_dispatch:

jobs:
  send_request:
    runs-on: ubuntu-latest

    steps:
      - name: Healthcheck
        run: |
          healthcheck_response=$(curl -s -X GET "$HEALTHCHECK_URL" -H "Authorization: Bearer $TOKEN")
          echo "Healthcheck Response: $healthcheck_response"
          status=$(echo "$healthcheck_response" | jq -r '.status')
          if [ "$status" != "OK" ]; then
            echo "Healthcheck failed with status: $status"
            exit 1
          fi
        env:
          HEALTHCHECK_URL: ${{ secrets.HEALTHCHECK_URL }}
          TOKEN: ${{ secrets.API_TOKEN }}
          
      - name: Send request to URL
        run: |
          response=$(curl -w "%{http_code}" -o /dev/null -s -X GET "$URL" -H "Authorization: Bearer $TOKEN")
          if [ "$response" -ne 200 ]; then
            echo "Request failed with status code $response"
            exit 1
          fi
        env:
          URL: ${{ secrets.PATTERN_POP_URL }}
          TOKEN: ${{ secrets.API_TOKEN }}

      - name: Get pattern queue count
        run: |
          count_response=$(curl -s -X GET "$COUNT_URL" -H "Authorization: Bearer $TOKEN")
          count=$(echo "$count_response" | jq '.count')
          echo "Pattern Queue Count: $count"
        env:
          COUNT_URL: ${{ secrets.PATTERN_COUNT_URL }}
          TOKEN: ${{ secrets.API_TOKEN }}